@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Contemporary Carousel-->
<section id="contemporary">
    <h1 style="text-align: center;">Contemporary</h1>

    <div id="ContemporaryCarousel" class="carousel slide" data-bs-ride="carousel">

        <!--Carousel-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/contemporary/Contemporary1.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary2.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary3.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary4.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary5.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary6.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary7.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary8.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary9.png" />
            </div>
            <div class="carousel-item">
                <img src="~/images/contemporary/Contemporary10.png" />
            </div>
        </div> <!-- END .carousel-inner -->

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#ContemporaryCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#ContemporaryCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div> <!-- END #ContemporaryCarousel -->

</section> <!-- END section -->